#new_task {
  height: 20px;
  width: 400px;
  float: left;
}

#add_task {
  height: 26px;
  width: 26px;
  margin-left: 5px;
  color: white;
  background-color: #33cc33;
  text-align: center;
  float: left;
}

.task_list {
  clear: left;
}

.task {
  height: 20px;
  width: 400px;
  display: inline;
  float: left;
}

.rm_task_btn {
  height: 26px;
  width: 26px;
  margin-left: 5px;
  color: white;
  background-color: #ff3333;
  text-align: center;
  display: block;
  float: left;
}
